.box-breadcrumb {
    &[data-layout="1"] {
        display: flex;

        .box-breadcrumb-name {
            a {
                font-size: 14px;
                line-height: 19px;
                color: #9D9D97;
            }
        }

        .box-breadcrumb-sub {
            a {
                margin-left: 2px;
                position: relative;
                font-size: 14px;
                line-height: 19px;
                color: #9D9D97;

                &:before {
                    content: "/";
                    margin-right: 2px;
                }

                &:last-child {
                    color: #030504;
                }
            }
        }
    }
}
